.hero-column {
  float: left;
  width: 50%;
  height:100vh;
  overflow: hidden;
}

/* Clear floats after the columns */
.hero:after {
    content: "";
    display: table;
    clear: both;
}

.hero-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Quicksand', sans-serif;
  padding-left: 70px;
}

body {
   margin: 0;
   padding: 0;
}
