body {
  overflow:hidden;
  margin: 0;
  padding: 0;
}

.break {
  padding-left: 25px;
  padding-right: 25px;
}

.hero-column-left {
  float: left;
  width: 50%;
  height:100vh;
  overflow:scroll;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}

.hero-column-left::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.hero-column-right {
  float: left;
  width: 50%;
  height:100vh;
}

/* Clear floats after the columns */
.hero:after {
    content: "";
    display: table;
    clear: both;
}

.hero-text {
  font-family: 'Quicksand', sans-serif;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*style hero image*/
.hero-img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.hero-h1 {
  font-size: 3em;
}

.hero-p {
  font-size: 1.5em;
}

.hero-p-old {
  font-size: 1.5em;
  color: LightGrey;
}

a.hero-link-mm:link {
  text-decoration: none;
  color: LightGrey;
}

a.hero-link-mm:visited {
  text-decoration: none;
  color: LightGrey;
}

a.hero-link-mm:hover {
  text-decoration: none;
  color: Black;
  font-weight: bold;
}

a.hero-link-mm:active {
  text-decoration: none;
  color: Black;
}

a.hero-link-biogen:link {
  text-decoration: none;
  color: LightGrey;
}

a.hero-link-biogen:visited {
  text-decoration: none;
  color: LightGrey;
}

a.hero-link-biogen:hover {
  text-decoration: none;
  color: #2573BA;
  font-weight: bold;
}

a.hero-link-biogen:active {
  text-decoration: none;
  color: #2573BA;
}

a.hero-link-dart:link {
  text-decoration: none;
  color: Black;
}

a.hero-link-dart:visited {
  text-decoration: none;
  color: Black;
}

a.hero-link-dart:hover {
  text-decoration: none;
  color: #00693E;
  font-weight: bold;
}

a.hero-link-dart:active {
  text-decoration: none;
  color: #00693E;
}

.about-me {
  font-family: 'Quicksand', sans-serif;
  padding-left: 25px;
  padding-top: 25px;
}

.about-me-h1 {
  font-size: 1.5em;
  font-weight: normal;
}
