@media (min-width: 600px) {
    .hero-custom-column {
      float: left;
      width: 50%;
      font-family: 'Quicksand', sans-serif;
    }
}

/* Clear floats after the columns */
.hero-custom:after {
    content: "";
    display: table;
    clear: both;
}
